<footer class="site-footer">
  <section class="logo-box">
      <a [routerLink]="['/']"><span class="icon-pufi-logo"></span></a>
  </section>

  <section class="footer-links">
    <ul>
      <li><a [routerLink]="['']">PUFI RAIN</a></li>
      <li><a [routerLink]="['']">PUFI PUFF</a></li>
      <li><a [routerLink]="['']">PUFI CART</a></li>
      <li><a [routerLink]="['']">PUFI NAP</a></li>
    </ul>
  </section>

  <section class="footer-links">
    <ul>
      <li><a [routerLink]="['']">CONTACTO</a></li>
      <li><a [routerLink]="['']">AYUDA</a></li>
      <li><a [routerLink]="['']">COMO COMPRAR</a></li>
      <li><a [routerLink]="['']">TÉRMINOS & CONDICIONES</a></li>
    </ul>
  </section>

  <section class="footer-values">
    <p>COMPRA 100% SEGURA</p>
    <div>
      <span class="icon-qrcode"></span>
      <span class="icon-shield"></span>
      <span class="warranty">COMPRÁ CON LA GARANTÍA DE PUFI</span>
    </div>
  </section>

  <section class="footer-social">
    <p>SEGUINOS EN</p>
    <a href="https://facebok.com" target="_blank" rel="noreferrer noopener"><span class="icon-facebook"></span></a>
    <a href="https://twitter.com" target="_blank" rel="noreferrer noopener"><span class="icon-twitter"></span></a>
    <a href="https://instagram.com" target="_blank" rel="noreferrer noopener"><span class="icon-instagram"></span></a>
  </section>
</footer>

<section class="copyright">
  <span>PUFI Copyright 2017 - Todos los derechos reservados</span>
  <img src="https://brandlivecommerce.com/assets/img/logo-footer.svg" alt="brandlive">
</section>
