.site-footer {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 16.49% 20.48% 20.48% 19.9% 22.4%;
  padding: 41px 39px;
  margin-top: 98px;
  box-shadow: 0 -8px 13px rgb(0 0 0 / 10%);
  @media (max-width:768px) {
    grid-template-columns: 1fr;
  }
  .logo-box {
    .icon-pufi-logo {
      color: #000;
      font-size: 20px;
    }
  }
  .footer-links {
    padding-left: 41px;
    border-right: 1px solid #E5E5E5;
    @media (max-width:768px) {
      padding-left: 0;
      margin-top: 8px;
    }
    ul li {
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      a {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  .footer-values {
    padding-left: 41px;
    border-right: 1px solid #E5E5E5;
    @media (max-width:768px) {
      padding-left: 0;
      margin-top: 8px;
    }
    p {
      font-size: 12px;
      font-weight: 500;
    }
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 27px;
      .icon-qrcode,
      .icon-shield {
        font-size: 30px;
        font-weight: 500;
        margin-right: 15px;
      }
      .warranty {
        width: 72px;
        font-size: 10px;
        font-weight: 500;
        color: #404040;
      }
    }
  }
  .footer-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 41px;
    @media (max-width:768px) {
      padding-left: 0;
      margin-top: 8px;
    }
    p {
      margin-right: 11px;
    }
    span {
      margin-right: 11px;
      font-size: 18px;
    }
  }
}

.copyright {
  margin: 0 39px;
  padding: 10px 0;
  border-top: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 10px;
    color: #a0a0a0;
  }
  img {
    height: 15px;
  }
}
