<section class="home-category">
  <div class="home-category__banner">
    <img src="/assets/images/Pufi-08.png" alt="">
    <a [routerLink]="['']" class="slider__button">SHOP</a>
  </div>
  <div class="home-category__description home-category__description-first">
    <img src="/assets/images/Pufi-01.png" alt="">
    <h2>Pufi RAIN</h2>
    <p>Descripción del producto. Este es un texto simulado</p>
    <a [routerLink]="['']">VER MÁS</a>
  </div>
</section>

<section class="home-category inverted-category">
  <div class="home-category__description">
    <img src="/assets/images/Pufi-02.png" alt="">
    <h2>Pufi PUFF</h2>
    <p>Descripción del producto. Este es un texto simulado</p>
    <a [routerLink]="['']">VER MÁS</a>
  </div>
  <div class="home-category__banner">
    <img src="/assets/images/Pufi-07.png" alt="">
    <a [routerLink]="['']" class="slider__button">SHOP</a>
  </div>
</section>

<section class="home-category">
  <div class="home-category__banner">
    <img src="/assets/images/Pufi-06.png" alt="">
    <a [routerLink]="['']" class="slider__button">SHOP</a>
  </div>
  <div class="home-category__description">
    <img src="/assets/images/Pufi-03.png" alt="">
    <h2>Pufi CART</h2>
    <p>Descripción del producto. Este es un texto simulado</p>
    <a [routerLink]="['']">VER MÁS</a>
  </div>
</section>

<section class="home-category inverted-category">
  <div class="home-category__description">
    <img src="/assets/images/Pufi-04.png" alt="">
    <h2>Pufi NAP</h2>
    <p>Descripción del producto. Este es un texto simulado</p>
    <a [routerLink]="['']">MÁS INFO</a>
  </div>
  <div class="home-category__banner">
    <img src="/assets/images/Pufi-05.png.jpg " alt="">
    <a [routerLink]="['']" class="slider__button">SHOP</a>
  </div>
</section>
