@import '../../../assets/sass/_variables.scss';

.main-header {
  @include card(100%, auto, flex);
  width: 100%;
  margin: 0 !important;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0px 0px 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 20px;

  .empty-element {
    width: 20px;
  }

  .site-title {
    .site-title__content {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: var(--dark-gray);
    }
  }

  .main-menu {
    .icon-menu {
      font-size: 20px;
      font-weight: 300;
      color: var(--dark-gray);
    }
    .acount-links {
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 99;
      top: 0;
      right: -100%;
      background-color: #fff;
      transition: 0.4s all ease;
      &.menu-open {
        right: 0;
      }
      .icon-cross {
        font-size: 20px;
        font-weight: 300;
        color: var(--dark-gray);
        position: absolute;
        right: 15px;
        top: 15px;
      }
      .acount-links__container {
        text-align: center;
        .acount-links__content {
          padding: 80px 10px 0;
          .acount-links__text {
            font-size: 42px;
            line-height: 44px;
            font-weight: 700;
            color: var(--dark-gray);
            position: relative;
            &::before {
              content: '';
              transition: 0.4s all ease;
              width: 0;
              height: 1px;
              position: absolute;
              left: 0;
              bottom: 18px;
              display: block;
              background-color: var(--dark-gray);
            }
            &:hover::before {
              width: 100%;
            }
            @media (max-width: 768px) {
              font-size: 20px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
