<header class="main-header" id="top-header">

  <div class="empty-element"></div>

  <a class="site-title" [routerLink]="['/']">
    <h1 class="site-title__content">
      Merqueo Test
    </h1>
  </a>

  <section class="main-menu">
    <button class="icon-menu" (click)="this.menuOpen = !this.menuOpen"></button>
    <nav class="acount-links" [ngClass]="menuOpen ? 'menu-open' : ''">
      <button class="icon-cross" (click)="this.menuOpen = !this.menuOpen"></button>
      <ul class="acount-links__container">
        <li class="my-acount acount-links__content">
          <a class="acount-links__text" [routerLink]="['']">MI CUENTA</a>
        </li>
        <li class="my-cart acount-links__content">
          <a class="acount-links__text" [routerLink]="['']">MI COMPRA</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
