.top-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 26px 40px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0) 60%,rgba(0, 0, 0, 0.23993347338935578) 100%);
  background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0) 60%,rgba(0, 0, 0, 0.23993347338935578) 100%);
  background: linear-gradient(0deg,rgba(255, 255, 255, 0) 60%,rgba(0, 0, 0, 0.23993347338935578) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &.sticky {
    align-items: center;
    padding: 7px 40px;
    background: -moz-linear-gradient(0deg,rgba(255, 255, 255, 0) 15%,rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0) 15%,rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 15%,rgba(0, 0, 0, 0.6) 100%);
  }
  .logo-box {
    .icon-pufi-logo {
      font-size: 35px;
      color: #fff;
    }
  }

  .main-menu {
    @media (max-width: 768px) {
      grid-column: 1 / 3;
      width: 100%;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      .main-menu-link__container {
        padding: 3px 18px;
        &:not(:last-child) {
          border-right: 2px solid #fff;
        }
        .main-menu-link {
          display: block;
          text-align: center;
          .main-menu__icon {
            font-size: 23px;
            color: #fff;
            @media (max-width: 768px) {
              font-size: 16px;
            }
          }
          .main-menu__text {
            font-size: 17px;
            line-height: 19px;
            color: #fff;
            @media (max-width: 768px) {
              font-size: 10px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }

  .acount-links {
    @media (max-width: 768px) {
      grid-column: 2 / 2;
      grid-row: 1 / 2;
      justify-content: flex-end;
    }
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @media (max-width: 768px) {
        width: 165px;
        justify-content: flex-end;
      }
      .account-links__link {
        padding: 0 10px;
        &:first-child {
          border-right: 1px solid #fff;
        }
        a {
          font-size: 11px;
          line-height: 13px;
          color: #fff;
        }
      }
      .my-acount {
        &::after {
          content: "\ea55";
          font-family: "pufi-ico";
          font-size: 10px;
          color: #fff;
          display: inline-block;
          transform: rotate(180deg);
          padding-right: 6px;
        }
      }
    }
  }
}
