<header class="top-header" id="top-header">

  <section class="logo-box">
    <span class="icon-pufi-logo"></span>
  </section>

  <section class="main-menu">
    <ul>
      <li class="main-menu-link__container">
        <a [routerLink]="['']" class="main-menu-link">
          <span class="icon-pufi-puff main-menu__icon"></span>
          <p class="main-menu__text">PUFI PUFF</p>
        </a>
      </li>
      <li class="main-menu-link__container">
        <a [routerLink]="['']" class="main-menu-link">
          <span class="icon-pufi-rain main-menu__icon"></span>
          <p class="main-menu__text">PUFI RAIN</p>
        </a>
      </li>
      <li class="main-menu-link__container">
        <a [routerLink]="['']" class="main-menu-link">
          <span class="icon-pufi-cart main-menu__icon"></span>
          <p class="main-menu__text">PUFI CART</p>
        </a>
      </li>
      <li class="main-menu-link__container">
        <a [routerLink]="['']" class="main-menu-link">
          <span class="icon-pufi-nap main-menu__icon"></span>
          <p class="main-menu__text">PUFI NAP</p>
        </a>
      </li>
    </ul>
  </section>

  <nav class="acount-links">
    <ul>
      <li class="my-acount account-links__link">
        <a [routerLink]="['']">MI CUENTA</a>
      </li>
      <li class="my-cart account-links__link">
        <a [routerLink]="['']">MI COMPRA</a>
      </li>
    </ul>
  </nav>
</header>
