@import "../../../assets/sass/_variables.scss";

.user-form {
  @include card(660px, auto, block);
  border-radius: 0 0 15px 15px;
  transition: 0.8s all ease;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--top-background);
  .user-form__label {
    width: 100%;
    margin: 0 auto;
    display: block;
    @media (max-width: 768px) {
      width: 80%;
    }
    .form-input {
      padding: 10px 20px;
      border-radius: 100px;
      border: 1px solid var(--top-background);
      min-width: 100%;
      max-height: 36px;
      &:hover,
      &:focus {
        border: 1px solid var(--main);
      }
      &:focus {
        & ~ .form-submit {
          opacity: 1;
          height: auto;
          margin: 15px auto 0;
          padding: 5px 15px;
        }
      }
      &.ng-invalid {
        &.ng-touched {
          border: 1px solid #eb2a2a;
        }
      }
    }
    .form-submit {
      transition: 0.8s all ease;
      opacity: 0;
      height: 0;
      padding: 0 15px;
      margin: 0 auto 0;
      display: block;
      background-color: var(--main);
      border-radius: 3px;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 13px;
      line-height: 18px;
    }
  }
  .thanU {
    text-align: center;
  }
}
