.user-form {
  .txt-alert {
    clear: left;
    display: block;
    margin-bottom: 15px;
    span {
      font-size: 13px;
      color: #000;
    }
  }
  .user-form__label {
    width: 546px;
    margin: 18px auto 0;
    display: block;
    @media (max-width: 768px) {
      width: 80%;
    }
    .user-form__field {
      padding: 14px 16px;
      border: 1px solid #383838;
      .form-input {
        border: none;
        font-size: 13px;
        padding: 0;
        width: calc(100% - 42px);
        &.ng-invalid {
          &.ng-touched {
            border: 1px solid red;
          }
        }
      }
      .form-submit {
        border: none;
        background-color: transparent;
        font-size: 13px;
        color: #262626;
        padding: 0 14px;
      }
    }
  }
  .thanU {
    text-align: center;
  }
}
