<form class="user-form" [formGroup]="userForm" (ngSubmit)="submitMessage()">
  <p class="puff-subtitle">NEWSLETTER</p>
  <h2 class="puff-title">SUSCRIBITE</h2>
  <p class="puff-description">Y enterate de todas las novedades</p>

  <label class="user-form__label">
    <!-- <p>Email</p> -->
    <div class="user-form__field">
      <input class="form-input" type="email" placeholder="Ingresa tu email" formControlName="email" required>
      <button [disabled]="this.userForm.invalid" class="form-submit" type="submit"><span class="icon-arrow-right2"></span></button>
    </div>
    <div class="txt-alert">
      <span *ngIf="this.userForm.touched && this.userForm.invalid">Debes ingresar un email válido</span>
    </div>
  </label>

  <h3 *ngIf="thankYou" class="thanU">
    Gracias por tu comentario. Pronto nos pondremos en contacto contigo.
  </h3>
</form>
