@import './assets/fonts/icons/icomoon.css';
@import './assets/sass/_variables.scss';

/* Colors */
:root {
  --gray: #878787;
  --dark-gray: #2e2e2e;
  --main: #d00170;
  --background: #dedede;
  --top-background: #f4f4f4;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: var(--gray);
  font-size: 12px;
  line-height: 16px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  &:not(input),
  &:not(textarea) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  }
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}

html,
body {
  height: 100%;
}

body {
  margin-top: 84px;
  min-width: 100%;
  background: var(--background);
  position: relative;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
}

.desktop-only {
  position: relative;
  @media (max-width: 768px) {
    overflow: hidden;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
  }
}

.mobile-only {
  overflow: hidden;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  @media (max-width: 768px) {
    overflow: initial;
    width: initial;
    height: initial;
    position: initial;
    opacity: 1;
  }
}

.site-title {
  @include font(var(--dark-gray), 16px, 24px, 700, center);
}

.site-subtitle {
  @include font(var(--main), 16px, 22px, 600, left);
}

.site-description {
  @include font(var(--gray), 12px, 16px, 400, left);
}

.site-description-min {
  @include font(var(--gray), 9px, 16px, 500, left);
}

